.home-about {
  background-color: #f0e2e2;
  margin-top: 3%;
  height: 100vh;
  width: 100%;

}

.side {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
  margin-right: 5rem;
}

.grow-image {
  width: 50vw;
  margin-left: 3%;
}

.grow-image img {
  width: 40vw;
}

.change-black {
  color: #000;
  background-color: #f1eded;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 18px;
  word-spacing: 0.2%;
  line-height: 3.6vh;
}

h3 {
  font-weight: 600;
  font-size: 26px;
  color: #cda45e;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.stand-for {
  margin-top: 10%;
}

.vision {
  margin-bottom: 18%;
}

/* second section */

.why-us {
  background-color: #fff;
  height: 100vh;
  width: 100%;
}

.section-title {
  padding-bottom: 40px;
  padding-top: 5rem;
  margin-left: 5rem;
  margin-right: 4rem;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  /* font-family: "Playfair Display", serif; */
  color: #cda45e;
}

.section-title h2::after {
  content: "";
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  margin: 4px 10px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  margin-right: 4rem;
  margin-bottom: 5rem;
 
}
.box {
  line-height: 5vh;
  padding-top: 13%;
  padding-left: 5%;
}

.box span {
  color: #cda45e;
  display: block;
  font-size: 28px;
  font-weight: 700;
}

.box h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  /* margin: 20px 0; */
  color: #625b4be1;
}

.box p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.box ul {
  list-style: none;
  padding: 0;
}

.first-row {
  background-color: #fff;
  border: 3px solid #efefef;
  box-shadow: #aaaaaa;
  margin-right: 1rem;
  height: 65vh;
}

.first-row:hover {
  background-color: #cda45e;
  color: #fff;
}

.box:hover {
  color: #fff;
}

/* mobile design */

@media only screen and (max-width: 767px) {
  .homeabout {
    width: 100%;
  }

  .side {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
  }


  h3 {
    width: 100%;
    color: #cda45e;
    font-size: 25px;
  }


}
