.blog-page {
  background-color: #f0e2e2;
  width: 100%;
  height: 100vh;
}

.blog-image {
  width: 85%;
  height: 50vh;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 3rem;

}

.blog-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.blog-div {
  width: 90%;

}

h4 {
  color: #cda45e;
  font-size: 18px;
  font-weight: 700;
  padding-top: 2rem;
  margin-left: 2rem;
}

.blog-four {
  text-decoration: none;
}

h4:hover {
  background-color: #cda45e;
  color: #fff;
}

p {
  color: #000;
  font-size: 20px;
  margin-left: 2rem;
}

.blog-header {
  background-color: #fff;
  width: 85%;
  margin-left: 2rem;
  border-top: 8px solid #cda45e;
  margin-top: -4px;
  padding-bottom: 1rem;
}

.blog-header:hover {
  background-color: #cda45e;
  color: #fff;
}

h4:hover {
  background-color: #cda45e;
  color: #fff;
}