

h3 {
  color: #cda45e;
  font-size: 16px;

}

.first-p {
  color: #000;
  font-size: 16px;
}

.sec-header {
  font-size: 25px;
  font-weight: 700;
  margin-left: 2rem;
  padding-top: 2rem;
  color: #cda45e;

}

.second-p {
  color: #000;
}

h4 {
  color: #000;
  font-size: 17px;
}

h4:hover {
  color: #000;
}
