.home {
  height: auto;
  background-color: #fff;
  width: 100%;
}

.homing {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.palour {
  width: 50%;
 
}

.palimg {
  width: 38rem;
  margin-right: 6rem;
}


.headerContainer {
  width: 80%;
  margin-left: 35px;
}

.headerContainer h1 {
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #000;
  width: 100%;
  margin-left: 5%;
}

.headerContainer span {
  color: #cda45e;
}


.headerContainer h2 {
  margin-bottom: 10px 0 0 0;
  font-size: 22px;
  font-weight: lighter;
  color: #000;
  width: 100%;
  margin-left: 5%;
}

.headerContainer button {
  background: #cda45e;
  margin-top: 20px;
  border: 2px solid #d8a651;
  border-radius: 15px;
  cursor: pointer;
  height: 43px;
  width: 180px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 700;
  margin-left: 5%;
}

.secButton button {
  margin-left: 1rem;
}

.headerContainer button:hover {
  /* background-color: #07090a; */
  background-color: #fff;
  color:  #000;
  cursor: pointer;
  transition: 0.3s ease-in;
}

/* mobile view  */

@media only screen and (max-width: 767px) {
  .home {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .homing {
    display: block;
  }

  .headerContainer {
    margin-left: 0;
    border-radius: 10px;
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .headerContainer h1 {
    font-size: 35px;
    width: 90%;
    padding-top: 2rem;
   
  }

  .headerContainer h2 {
    font-size: 20px;
    font-weight: lighter;
    width: 90%;
  }

  .home .headerContainer p {
    font-size: 30px;
    color: white;
  }

  .get-started {
    display: flex;
    padding-top: 5%;
    width: 100%;
    margin-left: 20%;
  }

  .headerContainer button {
    width: 134px;
    font-size: 13px;
    font-weight: 700;
}

.palimg {
  width: 23rem;
}
  
}
