.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.headerContainer {
  width: auto;
  margin-left: 30px;
  position: relative;
  z-index: 5;
}

.headerContainer h1 {
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  width: 65%;
  margin-left: 5%;
}

.headerContainer span {
  color: #cda45e;
}


.headerContainer h2 {
  margin-bottom: 10px 0 0 0;
  font-size: 22px;
  font-weight: lighter;
  color: #eee;
  width: 55%;
  margin-left: 5%;
}

.headerContainer button {
  background: none;
  margin-top: 20px;
  border: 2px solid #cda45e;
  border-radius: 20px;
  cursor: pointer;
  height: 43px;
  width: 180px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 700;
  margin-left: 5%;
}

.secButton {
  color: red;
 margin-right: 5rem;
}

.secButton button {
  margin-left: 1rem;
}

.headerContainer button:hover {
  /* background-color: #07090a; */
  background-color: #fff;
  color:  #cda45e;
  cursor: pointer;
  transition: 0.3s ease-in;
}

/* mobile view  */

@media only screen and (max-width: 767px) {
  .home {
    justify-content: center;
    align-items: center;
  }

  .headerContainer {
    margin-left: 0;
    border-radius: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .headerContainer h1 {
    font-size: 35px;
    width: 100%;
    margin-left: 10%;
    color: #fff;
  }

  .headerContainer h2 {
    font-size: 20px;
    font-weight: lighter;
    color: #eee;
    width: 90%;
    padding-top: 8%;
  }

  .home .headerContainer p {
    font-size: 30px;
    color: white;
  }

  .headerContainer button {
    background-color: white;
    color: #121619;
    margin-bottom: 30px;
  }

  .get-started {
    display: flex;
    padding-top: 5%;
    margin-right: 10%;
    width: 100%;
  }

  .headerContainer button {
    background: none;
    color: #fff;
  }

  .headerContainer button:hover {
    background-color: #fff;
    color:  #cda45e;
    cursor: pointer;
    transition: 0.3s ease-in;
  }

  
}
